.title {
  -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: #e44c65;
  text-decoration: none;

  &:hover {
    color: #e44c65 !important;
    border-bottom-color: transparent;
  }
}
